{
  "plugins": ["stylelint-order", "stylelint-selector-no-empty"],
  "extends": ["stylelint-config-standard-scss"],
  "rules": {
    "block-closing-brace-newline-before": "always",
    "block-opening-brace-newline-after": "always",
    "block-opening-brace-space-before": "always",
    "color-hex-case": "lower",
    "color-hex-length": "short",
    "declaration-block-no-duplicate-properties": true,
    "declaration-colon-space-after": "always",
    "font-family-no-duplicate-names": true,
    "font-weight-notation": "numeric",
    "indentation": 2,
    "length-zero-no-unit": true,
    "max-empty-lines": 1,
    "max-nesting-depth": 3,
    "no-extra-semicolons": true,
    "number-leading-zero": "always",
    "order/properties-alphabetical-order": true,
    "plugin/stylelint-selector-no-empty": true,
    "property-no-vendor-prefix": true,
    "shorthand-property-no-redundant-values": true,
    "string-quotes": "single",
    "value-list-comma-space-after": "always"
  }
}
