<!-- Aren't you the curious type. Good for you! --><!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Armin Roșu | Your friendly neighbourhood web dev</title>
		<meta name="description" content="Hi, I'm a developer, I build stuff, since 2004. I love what I do and hope you do to.">

		<link rel="canonical" href="http://armin.ro" />
		<link rel="author" href="https://plus.google.com/115822427604092267963/posts"/>

		{% comment %}Facebook{% endcomment %}
		<meta property="og:url" content="http://armin.ro" />
		<meta property="og:type" content="profile" />
		<meta property="og:title" content="Armin Roșu" />
		<meta property="og:description" content="Your friendly neighbourhood web dev" />
		<meta property="og:image" content="http://armin.ro/images/2016.01.jpg" />
		<meta property="fb:profile_id" content="100000465734548" />

		{% comment %}Twitter{% endcomment %}
		<meta name="twitter:card" content="summary"/>
		<meta name="twitter:site" content="@arminrosu"/>
		<meta name="twitter:domain" content="Armin.ro"/>
		<meta name="twitter:creator" content="@arminrosu"/>

		{% if css|size %}
		<!-- Less requests is more -->
		<style>
			{{css}}
		</style>
		{% endif %}

		<meta name="viewport" content="width=device-width, initial-scale=1"/>

		<link rel="icon" type="image/png" href="images/favicon/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="images/favicon/favicon-16x16.png" sizes="16x16" />

		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-25617369-1']);
			_gaq.push(['_setDomainName', 'armin.ro']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script');
				ga.type = 'text/javascript';
				ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</head>
	<body>
		<h1>Armin Roșu</h1>

		<p><span>Hi, I'm a developer, I build stuff - since 2004&trade;. I love what I do and hope you do to. You can find <a href="http://www.linkedin.com/in/arminrosu" title="Armin's public LinkedIn profile">some of my work on LinkedIn</a>.</span></p>

		<p><span>I also speak 4+ languages, have designed <a href="https://www.facebook.com/488456867960173/photos/a.498443273628199.1073741828.488456867960173/620350128104179/?type=3&theater"  target="_blank" rel="nofollow">watch faces</a>, funded <a href="https://www.kickstarter.com/projects/michaellaine/space-elevator-science-climb-to-the-sky-a-tethered" target="_blank" rel="nofollow">space travel</a>, am a Baron of the <a href="http://www.sealandgov.org/" target="_blank" rel="nofollow">Principality of Sealand</a>, have been <a href="http://www.brothers-brick.com/2010/12/11/2011-lego-ambassadors-announced-news/" target="_blank" rel="nofollow">LEGO&trade; Ambassador to Romania</a>, was featured in <a href="http://www.forbes.ro/articles/portret-de-trendsetter-armin-rosu_0_9205-9658" target="_blank" rel="nofollow">Forbes</a> and Men's Health, was named Time magazine's <a href="http://content.time.com/time/magazine/article/0,9171,1570810,00.html" target="_blank" rel="nofollow">Person of the Year 2006</a>, was a <a href="https://youtu.be/QMgzjOcT65s" target="_blank" rel="nofollow">film editor</a> once and like good food (hint, hint).</span></p>

		<p><span>Ping me on <a href="http://www.linkedin.com/in/arminrosu" title="Armin's public LinkedIn profile" target="_blank" rel="nofollow">LinkedIn</a>, <a href="mailto:contact@armin.ro?subject=Salutations Armin" title="Armin's email address" target="_blank" rel="nofollow">Email</a>, <a href="http://github.com/arminrosu" title="Armin's Github profile" target="_blank" rel="nofollow">Github</a> or <a href="https://www.facebook.com/armin.rosu" title="Armin's Facebook" target="_blank" rel="nofollow">Facebook</a>, whichever suits you best.</span></p>
	</body>
</html>
