// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// SETTINGS
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// Colors
$color-main: #000;
$color-background: #fff;

// Typography
$font-heading: 'Courier New', Courier, 'Lucida Sans Typewriter',
  'Lucida Typewriter', monospace;
$font-body: monaco, Consolas, 'Lucida Console', monospace;

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// TAGS
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

html,
body {
  background-color: $color-background;
  height: 100%;
  width: 100%;
}

html {
  color: $color-main;
}

// Reset
div,
h1,
p {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: $font-body;
  font-size: 62.5%;
  margin: 0 auto;
  max-width: 50em;
  padding: 30px;
}

h1 {
  color: $color-main;
  font-family: $font-heading;
  font-size: 4.8em;
  font-weight: 600;
  padding: 0 0 4%;
  text-align: center;
}

p {
  font-size: 1.6em;
  line-height: 180%;
  margin-bottom: 2em;
  text-align: left;

  &:last-child {
    padding-bottom: 2em;
  }
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a {
  border-bottom: 1px dotted #000;
  color: #000;
  font-style: italic;
  outline: none;
  text-decoration: none;

  &:hover {
    border-bottom-style: solid;
  }
}
