// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// SETTINGS
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// Colors
$color-main: #000;
$color-background: #fff;

// Typography
$font-heading: Tahoma, Verdana, Segoe, sans-serif;
$font-body: $font-heading;

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// TAGS
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

html,
body {
  height: 100%;
  width: 100%;
}

html {
  color: $color-main;
}

// Reset
body,
div,
h1,
p {
  margin: 0;
  padding: 0;
}

body {
  // @TODO Move image into html, use flex columns
  background: $color-background url(images/2016.07.jpg) fixed no-repeat 50% 50%;
  background-size: contain;
  box-sizing: border-box;
  font-family: $font-body;
  font-size: 62.5%;
  padding: 30px;
}

h1,
p {
  position: relative;
  z-index: 1;
}

h1 {
  color: $color-main;
  font: 600 4.8em $font-heading;
  padding: 0 0 4%;
  text-align: center;
  text-transform: uppercase;
}

p {
  @media only screen and (orientation: landscape) {
    max-width: 360px;
    text-align: right;
  }
  clear: both;
  float: right;
  font-size: 1.6em;
  line-height: 180%;
  margin: 0 0 2em;

  &:last-of-type {
    margin: 0;
  }
}

span {
  background: $color-background;
  box-shadow: 2px 1px 0 1px $color-background, -2px 1px 0 1px $color-background;
}

a {
  border-bottom: 1px dotted #000;
  color: #000;
  font-style: italic;
  outline: none;
  text-decoration: none;

  &:hover {
    border-bottom-style: solid;
  }
}
