// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// SETTINGS
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// Colors
$color-main: #000;
$color-background: #fff;

// Typography
$font-heading: Tahoma, Verdana, Segoe, sans-serif;
$font-body: $font-heading;

// Animation
$glitch-count: infinite;
$glitch-duration: 30s;
$glitch-offset: 5s;

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// TAGS
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

html,
body {
  height: 100%;
  width: 100%;
}

html {
  color: $color-main;
}

// Reset
body,
div,
h1,
p {
  margin: 0;
  padding: 0;
}

body {
  animation: $glitch-duration linear $glitch-offset $glitch-count glitch;
  box-sizing: border-box;
  font-family: $font-body;
  font-size: 62.5%;
  padding: 30px;

  &:before,
  &:after {
    background-blend-mode: darken;
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
  }

  &:before {
    animation: $glitch-duration linear $glitch-offset $glitch-count
      glitch-before;
    background: url(images/2016.07.jpg) fixed no-repeat 50% 50%, #f0f;
    background-size: contain;
  }

  &:after {
    animation: $glitch-duration linear $glitch-offset $glitch-count glitch-after;
    background: url(images/2016.07.jpg) fixed no-repeat 50% 50%, #0f0;
    background-size: contain;
    mix-blend-mode: lighten;
  }
}

h1,
p {
  position: relative;
  z-index: 1;
}

h1 {
  color: $color-main;
  font: 600 4.8em $font-heading;
  padding: 0 0 4%;
  text-align: center;
  text-transform: uppercase;
}

p {
  @media only screen and (orientation: landscape) {
    max-width: 360px;
    text-align: right;
  }
  clear: both;
  float: right;
  font-size: 1.6em;
  line-height: 180%;
  margin: 0 0 2em;

  &:last-of-type {
    margin: 0;
  }
}

span {
  background: $color-background;
  box-shadow: 2px 1px 0 1px $color-background, -2px 1px 0 1px $color-background;
}

a {
  border-bottom: 1px dotted #000;
  color: #000;
  font-style: italic;
  outline: none;
  text-decoration: none;

  &:hover {
    border-bottom-style: solid;
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ANIMATION
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@keyframes glitch {
  0% {
    text-shadow: 10px 0 #f0f, -5px 0 #0f0;
  }

  0.15% {
    text-shadow: 0 0 #f0f, 0 0 #0f0;
  }
}

@keyframes glitch-before {
  0% {
    transform: translate(-10px, 0);
  }

  0.15% {
    transform: translate(0, 0);
  }
}

@keyframes glitch-after {
  0% {
    transform: translate(10px, 0);
  }

  0.15% {
    transform: translate(0, 0);
  }
}
